body{
    background-color: #333;
    color: white; 
}

#container{
    width: 1000px;
    margin: auto;
}

#title{
    width: 600px;
    margin: auto;
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
}

#wynik{
    width: 600px;
    margin-left: auto;
    margin-right: 120px;
    margin-top: 50px;
}

.btn{
    width: 40px;
    height: 40px;
    background-color: black;
	text-align:center;
	padding: 5px;
	margin: 5px;
	float: left;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}